# Process data for Tableau

### Importing required libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

### loading csv file

In [2]:
df = pd.read_csv('processed_data_sql.csv')

### filtering out the required data

In [3]:
df = df.drop(['Unnamed: 0', 'start_lat','start_lng', 'end_lat', 'end_lng'], axis=1)

In [4]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])
df['day'] = df['started_at'].dt.day_name()
df['month'] = pd.DatetimeIndex(df['started_at']).month
df['year'] = pd.DatetimeIndex(df['started_at']).year
df['hour of the day'] = df['started_at'].dt.hour
df['day of week'] = df['started_at'].dt.dayofweek
df['duration'] = (df['ended_at'] - df['started_at']).dt.total_seconds() / 60

In [5]:
df = df[df.duration > 1]

In [6]:
df.dropna(inplace = True)

In [7]:
df.drop_duplicates(subset=['ride_id'])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,day,month,year,hour of the day,day of week,duration
0,0A1B623926EF4E16,docked_bike,2021-07-02 14:44:36,2021-07-02 15:19:58,Michigan Ave & Washington St,13001,Halsted St & North Branch St,KA1504000117,casual,Friday,7,2021,14,4,35.366667
1,B2D5583A5A5E76EE,classic_bike,2021-07-07 16:57:42,2021-07-07 17:16:09,California Ave & Cortez St,17660,Wood St & Hubbard St,13432,casual,Wednesday,7,2021,16,2,18.450000
2,6F264597DDBF427A,classic_bike,2021-07-25 11:30:55,2021-07-25 11:48:45,Wabash Ave & 16th St,SL-012,Rush St & Hubbard St,KA1503000044,member,Sunday,7,2021,11,6,17.833333
3,379B58EAB20E8AA5,classic_bike,2021-07-08 22:08:30,2021-07-08 22:23:32,California Ave & Cortez St,17660,Carpenter St & Huron St,13196,member,Thursday,7,2021,22,3,15.033333
4,6615C1E4EB08E8FB,electric_bike,2021-07-28 16:08:06,2021-07-28 16:27:09,California Ave & Cortez St,17660,Elizabeth (May) St & Fulton St,13197,casual,Wednesday,7,2021,16,2,19.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5900379,F1C4F671FE0FDDD1,electric_bike,2022-06-26 19:50:04,2022-06-26 19:55:23,Clarendon Ave & Junior Ter,13389,Clarendon Ave & Junior Ter,13389,member,Sunday,6,2022,19,6,5.316667
5900380,7B3B2890CA85E05D,classic_bike,2022-06-25 00:56:48,2022-06-25 01:01:39,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,member,Saturday,6,2022,0,5,4.850000
5900381,1E993989CC66BCBC,classic_bike,2022-06-25 00:56:25,2022-06-25 01:00:26,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,member,Saturday,6,2022,0,5,4.016667
5900383,B9F527742959CF03,classic_bike,2022-06-12 13:28:46,2022-06-12 13:53:11,Clark St & Randolph St,TA1305000030,Clark St & Randolph St,TA1305000030,casual,Sunday,6,2022,13,6,24.416667
5900384,D241310352E26484,classic_bike,2022-06-12 14:40:51,2022-06-12 15:08:14,Blue Island Ave & 18th St,13135,Blue Island Ave & 18th St,13135,casual,Sunday,6,2022,14,6,27.383333

### exporting the new data for tableau

In [8]:
df.to_csv('processed_data_tableau.csv', index=False)